.photo-upload-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: var(--white);
    border: 1px solid var(--gray-94);
    border-radius: 10px;
    width: 500px; /* 적절한 크기로 설정 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-upload-container #photo-preview img {
    display: block;
    margin-bottom: 10px;
}

.photo-upload-container .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #007bff; /* 파란색 배경 */
    color: #ffffff; /* 흰색 텍스트 */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center; /* 텍스트를 가운데 정렬 */
}

.photo-upload-container .btn:hover {
    background: var(--primary-20); /* 버튼 호버 시 배경색 변화 */
}

.photo-upload-container #photo-list div {
    margin-top: 10px;
    cursor: pointer;
    color: var(--primary-10);
    text-decoration: underline;
}
