@charset "UTF-8";
@import url(../css/common.css);



.accordion {
    &.admin {
        margin: 10px 20px 10px;
        background: #fff;
        .group-list {
            display: block;
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }
        .accordion-item {
            border-bottom: 1px solid #ccc;
        }
        .accordion-body {
            background: #fff;
            padding:0;
            li {
                .division {
                    display: block;
                    padding: 10px 10px 10px 45px;
                    background: url(../img/ico_before_tree.svg) no-repeat left 20px center;
                    &:hover {               
                        background: #F7F7F7 url(../img/ico_before_tree.svg) no-repeat left 20px center;
                    }
                    &:active, &.active {       
                        color: var(--primary-100);        
                        background: #FFF9F6 url(../img/ico_before_tree.svg) no-repeat left 20px center;
                    }
                }
            }
        
        }
    }
}

.accordion-button {
    &.admin {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 0;
        background: #fff url(../img/ico_accordion_default.svg) no-repeat left 10px center;
        &::after {
            // background: #F2F9FA url(../img/ico_accordion_default.svg) no-repeat center center;
            // transform: rotate(180deg)
            content: none;
        }
        &:not(.collapsed) {
            background: #F2F9FA url(../img/ico_accordion_down.svg) no-repeat left 10px center;
        }
    }

}
.accordion-button.admin:not(.collapsed)::after {
    background: #F2F9FA url(../img/ico_accordion_down.svg) no-repeat left center;
    transform: rotate(-180deg)
}


// 권한 편집
.form-check-wrap {
    padding: 0 22px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: calc(100vh - 380px);
    overflow-y: auto;
}
.sub-check-wrap {
    // padding-left: 40px !important;
    border: 1px solid #ccc;
    border-radius: 4px;
    .form-check {
        padding: 8px;
        margin-bottom: 0;
        .form-check-input {
            margin-left: 30px;
        }
    }
}
.form-check {
    padding-left: 0;
    &.first {
        padding: 10px 10px 10px 28px;
    }
    &:hover {
        background: #f7f7f7;
    }
    &:active, &.active {
        background: var(--primary-10);
    }
}
.common-input3 {
    width: 100%;
    border: 1px solid var(--gray-60);
    outline: none;
    padding: 9px 14px;
    height: 36px;
    border-radius: 4px;
    font-size: 14px;
    &:read-only {
        background: #F7F7F7;
        border: 1px solid var(--gray-80);
    }
  }

  .modal-footer {
    &.admin {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      padding: 11px 0 11px;
      border-top: 0;
      justify-content: center;
      gap:14px;
      box-shadow: 0px 4px 12px 4px rgba(0, 0, 0, 0.25);
      button {
        padding: 0 60px;
      }
    }
  }
.modal-dialog {
    &.admin {
        left: 12%;
        .modal-content {
            width: 1356px;
            .modal-body {
                padding: 30px 24px 10px !important;
            }
        }
    }
}
.depart-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .depart {
        display: flex;
        flex-direction: row;
        gap: 8px;
        button {
            padding: 0 14px 0;
            width: 180px;
            height: 50px;
            text-align: left;
            font-size: 14px;
            font-weight: 500;
            background: var(--gray-94);
            border-radius: 8px;
            &:hover {
                background: var(--secondary2-10);
            }
            &:active, &.active {
                background: var(--secondary2-20);
            }
        }
        .depart-1st {
            color: #fff;
            background: #671C2A;
            &:hover {
                background: #591320;
            }
            &:active, &.active {
                background: #460E18;
            }
        }
        .depart-2nd {
            color: #fff;
            background: #BD445B;
            &:hover {
                background: #AB344B;
            }
            &:active, &.active {
                background: #871B30;
            }
        }
        .depart-3rd {
            background: #F8E6EA;
            &:hover {
                background: #F5DDE2;
            }
            &:active, &.active {
                background: #E3B9C2;
            }
        }
        .depart-4th {
            color: #fff;
            background: #7476DA;
            &:hover {
                background: #6365CE;
            }
            &:active, &.active {
                background: #5456B3;
            }
        }
    }

}
// 공통팝업 스타일 추가
.modal-content {
    &.board {
        .modal-header {
            padding-bottom: 0;
        }
    }
}