@charset "UTF-8";
@import url(../css/common.css);

//filter button
.result-filter {
  margin-left: auto;
  padding-right: 21px;
  background: url(../img/facility/ico_filter.svg) no-repeat right center;
  &:active, &.active {
    color: var(--primary-100);
    background: url(../img/facility/ico_filter_or.svg) no-repeat right center;
  }
}

//페이징
.pagination-wrap {
  position: relative;
  z-index: 2;
            //고정 페이징
            &.fixed {
              position: absolute !important;
              left: 0;
              bottom: 0;
              width: 100%;
              background: #fff;
            }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  gap: 8px;
  border-top: 1px solid var(--gray-80);
  .page-link {
    display: block;
    // width: 30px;
    padding: 5px 10px 5px;
    // height: 30px;
    // line-height: 29px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50%;
    color: var(--gray-70);
    // border: 1px solid var(--gray-70);
    border: none;
    &:active, &.active {
      background: var(--white);
      color: var(--primary-100);
      // border: 1px solid var(--primary-100);
      border: none;
    }
  }
  .page-prev {
    display: block;
    width: 24px;
    height: 30px;
    background: url(../img/common/page_prev.svg) no-repeat center center;
    &.first {
        width: 20px;
      background: url(../img/common/page_first.svg) no-repeat center center;
    }
  }
  .page-next {
    display: block;
    width: 24px;
    height: 30px;
    background: url(../img/common/page_next.svg) no-repeat center center;
    &.last {
      width: 20px;
      background: url(../img/common/page_last.svg) no-repeat center center;
    }
  }
}

//slider
input:checked + .slider {
      background-color: var(--primary-100);
} 
input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-100);
}

//label 타입 1종~3종
.txt-type {
  width: 28px;
  height: 20px;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #0a0a0a;
  background: var(--secondary2-20);
  border: 1px solid #05070F20;
  border-radius: 6px;
  &.second {
    background: #DFECF2;
  }
  &.third {
    background: #EFE4F4;
  }
  &.etc {
    background: #F4E9E4;
  }
  &.land {
    background: var(--primary-10);
  }
}
// label 타입A~E등급
.txt-type-lg {
  // width: 40px;
  padding: 0 6px;
  height: 20px;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  color: #0a0a0a;
  background: var(--secondary2-20);
  border: 1px solid #05070F20;
  border-radius: 6px;
  &.gradeA {
    background: #C9FFD8;
  }
  &.gradeB {
    background: #D7FAFA;
  }
  &.gradeC {
    background: #FDFBBC;
  }
  &.gradeD {
    background: #FFDCA7;
  }
  &.gradeE {
    background: #FDCBBC;
  }
  &.etc {
    background: #F4E9E4;
  }
  &.land {
    background: var(--primary-10)
  }
}

//값
.grade-wrap {
  .value {
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary2-120);
    padding: 16px 0 10px;
  }
  .percent {
    color: var(--secondary2-120);
  }
}



// round button
.btn-round {
  padding: 7px 12px;
  font-size: 14px;
  background: #fff;
  color: var(--gray-20);
  border: 1px solid var(--gray-20);
  border-radius: 24px;
  &:hover {
    background: var(--gray-94);
    border: 1px solid var(--gray-20);
  }
  &.active, &:active {
    background: #fff;
    color: var(--primary-100);
    border: 1px solid var(--primary-100);
  }
  &.ing {
    color: var(--gray-60);
    border: 1px solid var(--gray-60);
  }
  &.error {
    color: var(--error);
    border: 1px solid var(--error);
  }
}

//form select 
.form-select {
  &.round {
    padding: 6.5px 40px 6.5px 12px;
    font-size: 14px;
    border-radius: 30px;
    option {
      padding: 10px;
      line-height: 40px;
    }
  }
}


// bootstrap customize
.snb-area {
  .btn-group {
    height: 42px;
    background: var(--white);
    border-radius: 30px;
    .btn {
      min-width: 110px;
      padding: 0 25px;
      background: var(--white);
      border-radius: 30px;
      font-size: 14px;
      font-weight: 500;
      flex-grow: 1;
    }
    .btn-check:checked + .btn,
    .btn:active, .btn.active,
    .btn.show,
    .btn:first-child:active,
    :not(.btn-check) + .btn:active,
    .btn:visited {
      color: var(--white);
      background: var(--primary-100);
      border-radius: 30px;
    }
    .dropdown-menu {
      margin-top: 6px;
      border: none;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .dropdown-item {
      padding: 14px;
      font-size: 14px;
      &:hover,
      &:active,
      &.active {
        color: var(--primary-100);
        background: var(--primary-10);
      }
    }
  }
}

  //대시보드
  .dashboard-container {
    position: absolute;
    top: 110px;
    left: 80px;
    display: flex;
    gap: 20px;
    //시설물 대시보드
    .left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 870px;
      .case-box {
        // display: flex;
        // gap: 18px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 4px;
        li {
          flex: 1;
          padding: 8px 0 9px;
          height: 68px;
          background: #fff;
          border-radius: 0 0 10px 10px;
          border: 1px solid #9999991A;
          position: relative;
          &.whole {
            background: var(--primary-100);
            span {
              color: #fff !important;
            }
          }
          &.case-01 {
            // background: #1C64F21A;
            border-top: 3px solid #013F2F;
            span {
              color: #013F2F;
            }
          }
          &.case-02 {
            // background: #10AD781A;
            border-top: 3px solid var(--chart-02);
            span {
              color: var(--chart-02);
            }
          }
          &.case-03 {
            // background: #09A1B11A;
            border-top: 3px solid #C49746;
            span {
              color: #C49746;
            }
          }
          &.case-04 {
            // background: #5850EC1A;
            border-top: 3px solid #E0927B;
            span {
              color: #E0927B;
            }
          }
          &.case-05 {
            // background: #7E3AF21A;
            border-top: 3px solid #9C5E00;
            span {
              color: #9C5E00;
            }
          }
          &.case-06 {
            // background: #E746941A;
            border-top: 3px solid #D54D01;
            span {
              color: #D54D01;
            }
          }
          &.case-07 {
            // background: #E746941A;
            border-top: 3px solid #F33522;
            span {
              color: #F33522;
            }
          }
          &.case-08 {
            // background: #FF822F1A;
            border-top: 3px solid #B60102;
            span {
              color: #B60102;
            }
          }
          &.case-09 {
            // background: #BB42001A;
            border-top: 3px solid #E74694;
            span {
              color: #E74694;
            }
          }
          &.case-10 {
            // background: #9C5E001A;
            border-top: 3px solid #9C5E00;
            span {
              color: #9C5E00;
            }
          }
          &.case-11 {
            // background: #4445691A;
            border-top: 3px solid #1C64F2;
            span {
              color: #1C64F2;
            }
          }
          span {
            display: block;
            color: var(--white);
            text-align: center;
            font-weight: 600;
            &.case-tit {
              font-size: 16px;
              }
            &.case-num {
              font-size: 23px;
              color: #000;
              font-weight: 600;
            }  
          }
        }
      }
    }
      .board-box {
        background: var(--white);
        border-radius: 10px;
        position: relative;
        // padding: 10px 20px 10px;
        padding: 20px;
        &.population {
          padding: 20px;
        }
        .box-tit-container {
          display: flex;
          align-items: center;
          margin-bottom: 14px;
        }
        .btn-wrap {
          display: flex;
          gap: 12px;
          margin-left: auto;
        }  
        &.map-area {
          width: 870px;
          height: 500px;
          // .btn-wrap {
          //   position: absolute;
          //   top:0;
          //   right: 0;
          //   display: flex;
          //   justify-content: flex-end;
          //   padding: 24px 20px 0 0;
          //   gap: 12px;
          // }  
          .btn-zoom-wrap {
            position: absolute;
            bottom: 20px;
            right: 20px;
            display: flex;
            flex-direction: column;
            gap: 1px;
            button {
              width: 42px;
              height: 42px;
              background: var(--gray-94);
              border-radius: 4px;
              &.zoomin {
                background: var(--gray-94) url(../img/facility/ico_plus.svg) no-repeat center center;
                &:active {
                  background: var(--primary-10) url(../img/facility/ico_plus_or.svg) no-repeat center center;
                }
              }
              &.zoomout {
                background: var(--gray-94) url(../img/facility/ico_minus.svg) no-repeat center center;
                &:active {
                  background: var(--primary-10) url(../img/facility/ico_minus_or.svg) no-repeat center center;
                }
              }
            }
          }
          .map-container {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 110px 0 0;
            width: 100%;
            overflow: auto;
            img {
              width: 72%;
            }
          }

        }
      }
    }
    .right {
      width: 930px;
      .board-box {
        height: 428px;
        .board-box-tit {
          // margin-bottom: 15px;
          margin-bottom: 5px;
        }
        //점검도래시설물
        .right-btm-box {
          display: flex;
          gap: 10px;
          .btm-left {
            width: 180px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            div {
              flex: 1;
              padding: 14px 25px 10px;
              text-align: center;
              background: var(--secondary2-10);
              border-radius: 10px;
              .fac-num {
                width: 100%;
                font-size: 32px;
                font-weight: 600;
                background: #fff;
                border-radius: 30px;
                margin-bottom: 14px;
              }
            }
          }
          .btm-right {
            flex: 1;
          }
        }
      }
    }

    //유동인구 대시보드
    .left {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 870px;
      &.pop-left {
        .case-box {
          display: flex;
          gap: 18px;
          li {
            flex: 1;
            padding: 20px;
            height: 80px;
            background: var(--secondary2-100);
            border-radius: 12px;
            position: relative;
            span {
              display: block;
              color: var(--white);
              font-size: 18px;
              font-weight: 500;
              &.case-tit {
                padding-left: 30px;
                background: url(../img/facility/ico_case_tit01.png) no-repeat left
                  center;
                &.bridge {
                  background: url(../img/facility/ico_case_tit02.png) no-repeat left
                }  
                &.overpass {
                  background: url(../img/facility/ico_case_tit03.png) no-repeat left
                }  
                &::before {
                  content: "";
                }
              }
              &.case-num {
                position: absolute;
                right: 20px;
                bottom: 12px;
                font-size: 28px;
                font-weight: 700;
                text-align: right;
                &::after {
                  content: " 건";
                  font-size: 14px;
                  font-weight: 400;
                }
              }
            }
          }
        }
        .board-box {
          background: var(--white);
          border-radius: 10px;
          position: relative;
          padding: 16px 14px 14px;         
          &.map-area {
            width: 870px;
            height: 500px;
            .btn-wrap {
              position: absolute;
              top:0;
              right: 0;
              display: flex;
              justify-content: flex-end;
              padding: 24px 20px 0 0;
              gap: 12px;
            }  
            .btn-zoom-wrap {
              position: absolute;
              bottom: 20px;
              right: 20px;
              display: flex;
              flex-direction: column;
              gap: 1px;
              button {
                width: 42px;
                height: 42px;
                background: var(--gray-94);
                border-radius: 4px;
                &.zoomin {
                  background: var(--gray-94) url(../img/facility/ico_plus.svg) no-repeat center center;
                  &:active {
                    background: var(--primary-10) url(../img/facility/ico_plus_or.svg) no-repeat center center;
                  }
                }
                &.zoomout {
                  background: var(--gray-94) url(../img/facility/ico_minus.svg) no-repeat center center;
                  &:active {
                    background: var(--primary-10) url(../img/facility/ico_minus_or.svg) no-repeat center center;
                  }
                }
              }
            }
            .map-container {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0 110px 0 0;
              width: 100%;
              overflow: auto;
              img {
                width: 72%;
              }
            }
            //유동인구 맵
            .select-wrap {
              display: flex;
              gap: 10px;
            }
            .pop-map-area {
              margin-top: 16px;
              height: 360px;
              position: relative;
            }
  
            .select-wrap {
              display: flex;
              gap: 10px;
            } 
          }
          &.radar {
            display: flex;
            height: 290px;
            padding: 20px;
            div {
              flex: 1;
              &.out-radar {
                border-left: 1px dashed #ccc;
                padding-left: 20px;
              }
              .radar-chart {
                height: 228px;
              }
            }
          }
        }
      }

    }
    .right {
      .pop-wrap {
        margin-top: 10px;
      }
      .board-box {
        &.h330 {
          height: 330px !important;
        }
        &.population {
          height: 410px;
          .board-box-tit {
            margin-bottom: 7px;
          }
          .p-exp {
            padding: 0 0 14px 20px;
            font-size: 14px;
            font-weight: 500;
            color: var(--gray-40);
            background: url(../img/population/ico_exp.svg) no-repeat left 2px;
          }
          .indicator {
            .indic-box {
              padding: 14px 28px 12px;
              width: 440px;
              height: 90px;
              background: var(--secondary2-20) url(../img/population/img_people.svg) no-repeat 145px center;
              border-radius: 10px;
              display: flex;
              .indic-info {
                display: flex;
                flex-direction: column;
                width: 189px;
                .source {
                  padding-top: 14px;
                  font-size: 10px;
                  color: var(--gray-60);
                }
                
              }
              .arrow-down {
                width: 50px;
                height: 62px;
                background: url(../img/population/img_down.svg) no-repeat center center;
              }
              .arrow-up {
                width: 50px;
                height: 62px;
                background: url(../img/population/img_up.svg) no-repeat center center;
              }
              .peo-num {
                text-align: right;
                font-size: 28px;
                font-weight: 600;
                &::after {
                  content: '명';
                  font-size: 14px;
                  font-weight: 500;
                }
              }
              .peo {
                width: 50px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                background: var(--white);
                border-radius: 10px;
                font-size: 10px;
                color: #757575;
              }
              .peo-rate-down {
                width: 69px;
                text-align: right;
                font-size: 14px;
                color: #1C64F2;
                background: url(../img/facility/ico_down.svg) no-repeat 5px center;
              }
              .peo-rate-up {
                width: 69px;
                text-align: right;
                font-size: 14px;
                color: #F14730;
                background: url(../img/facility/ico_up.svg) no-repeat 5px center;
              }

            }
            .status-pop-wrap {
              display: flex;
              .status-pop {
                flex: 1;
                display: flex;
                flex-direction: column;
                background: var(--white);
                align-items: center;
                flex-wrap: nowrap;
              }
            }    
          }
          .grade-ch-wrap {
            border-radius: 10px;
            height: 203px;
            .sub-head-wrap {
              .source {
                font-size: 10px;
                color: var(--gray-60);
              }
            }
            //유입인구 현황
            .status-pop-wrap {
              display: flex;
              gap: 8px;
              .status-pop {
                padding: 14px 9px;
                height: 140px;
                .status-pop-tit {
                  font-size: 10px;
                  color: var(--gray-40);
                  margin-bottom: 12px;
                }
                .status-pop-purpose {
                  width: 50px;
                  height: 50px;
                  line-height: 50px;
                  text-align: center;
                  color: var(--secondary2-80);
                  font-size: 15px;
                  font-weight: 500;
                  background: var(--secondary2-20);
                  border-radius: 50%;
                  vertical-align: middle; 
                  //이동목적
                  &.leisure { 
                    background: var(--secondary2-20) url(../img/population/ico_leisure.svg) no-repeat center center; //쇼핑,여가
                  }
                  &.school {
                    background: var(--secondary2-20) url(../img/population/ico_school.svg) no-repeat center center; //학교
                  }
                  &.work {
                    background: var(--secondary2-20) url(../img/population/ico_work.svg) no-repeat center center; //회사
                  }
                  &.home {
                    background: var(--secondary2-20) url(../img/population/ico_home.svg) no-repeat center center; //집
                  }
                  &.trip {
                    background: var(--secondary2-20) url(../img/population/ico_trip.svg) no-repeat center center; //여행
                  }
                  //이동수단
                  &.subway {
                    background: var(--secondary2-20) url(../img/population/ico_subway.svg) no-repeat center center; //지하철
                  }
                  &.taxi {
                    background: var(--secondary2-20) url(../img/population/ico_taxi.svg) no-repeat center center; //택시
                  }
                  &.car {
                    background: var(--secondary2-20) url(../img/population/ico_car.svg) no-repeat center center; //승용차
                  }
                  &.plane {
                    background: var(--secondary2-20) url(../img/population/ico_plane.svg) no-repeat center center; //비행기
                  }
                  &.train {
                    background: var(--secondary2-20) url(../img/population/ico_train.svg) no-repeat center center; //철도
                  }
                  &.walk {
                    background: var(--secondary2-20) url(../img/population/ico_walk.svg) no-repeat center center; //도보
                  }
                  &.expressbus {
                    background: var(--secondary2-20) url(../img/population/ico_expressbus.svg) no-repeat center center; //시외버스
                  }
                  &.cargo {
                    background: var(--secondary2-20) url(../img/population/ico_cargo.svg) no-repeat center center; //화물
                  }
                  &.pm {
                    background: var(--secondary2-20) url(../img/population/ico_pm.svg) no-repeat center center; //PM
                  }
                  &.etc {
                    background: var(--secondary2-20) url(../img/population/ico_etc.svg) no-repeat center center; //기타
                  }
                  //성별
                  &.men {
                    background: var(--secondary2-20) url(../img/population/ico_men.svg) no-repeat center center; //남성
                  }
                  &.women {
                    background: var(--secondary2-20) url(../img/population/ico_women.svg) no-repeat center center; //여성
                  }
                }
                .status-sm-tit {
                  font-size: 8px;
                  line-height: 20px;
                  color: var(--secondary2-100);
                }
                .status-pop-num {
                  font-weight: 500;
                  margin-top: auto;
                }
              }
            }
          }

        }
      }


      .board-wrapper {
        .board-box {
          &.population {
            padding: 10px 20px 20px;
            .sub-head-wrap {
              align-items: center;
              margin-bottom: 4px;
              .sub-head {
                margin-bottom: 0;
              }
            }
            .board-th {
              display: flex;
              gap: 6px;
              span {
                flex: 1;
                border-top: 1px solid var(--gray-80);
                padding: 8px 0 7px;
                text-align: center;
                color: var(--gray-40);
              }
            }  
            .board-list {
              display: flex;
              padding-right: 0;
              gap: 6px;
                span {
                  flex: 1;
                  font-size: 14px;
                  text-align: center;
                  &.area-name {
                  text-align: left;
                  }
                  &.pop-num {                   
                    font-weight: 700;
                  }
                  &.purpose {
                    
                  }
              }
            }
            .population-chart {
              width: 100%;
              height: 260px;
            }
          }
        }
      }
      .sub-head-wrap {
        display: flex;
        .top-rank {
          margin-left: auto;
          font-size: 14px;
          font-weight: 500;
        }
        .source {
          margin-left: auto;
        }
      }
    }
    //국공유지 대시보드
    .pub-rate-down {
      margin-top: 15px;
      padding-right: 25px;
      text-align: right;
      color: #1C64F2;
      background: url(../img/facility/ico_down.svg) no-repeat right 5px center;
    }
    .pub-rate-up {
      margin-top: 15px;
      padding-right: 25px;
      text-align: right;
      color: #F14730;
      background: url(../img/facility/ico_up.svg) no-repeat right 5px center;
    }
    .left-area {
        width: 450px;
        .whole-info {
          display: flex;
          align-items: flex-start;
          padding: 12px 20px 15px;
          width: 450px;
          height: 120px;
          background: var(--secondary2-100);
          border-radius: 12px;
          margin-bottom: 10px;
          .public-info {
            .board-box-tit {
              margin-top: 7px;
              padding-left: 30px;
              color: var(--white);
              background: url(../img/facility/ico_public.svg) no-repeat left center;
            }
            .sta-date {
              margin-top: 38px;
            }
            &.right-info {
              align-items: flex-end;
              .pub-num {
                color: var(--white);
              }
              .pub-surface {
                color: #E7E7ED;
              }
              .pub-rate {
                width: 70px;
                height: 26px;
                line-height: 19px;
                padding-right: 24px;
                color: #1C64F2;
                background: var(--white) url(../img/facility/ico_down.svg) no-repeat 55px center;
                border-radius: 4px;
                margin: 10px 0 0 70px;
              }
            }

          }
        }
        .accordion {
            .accordion-item {
                border-radius: 12px !important;
                margin-bottom: 10px;                 
                .accordion-header { 
                  .accordion-button {
                      padding: 12px 20px 15px;
                      align-items: flex-start;
                      height: 120px; 
                      border-radius: 12px !important;   
                      text-decoration: none;
                      .board-box-tit {
                        padding-top: 5px;
                      }
                      &::after {
                       display: none;

                      }    
                      &:not(.collapsed) {
                        .pub-rate {
                          color: transparent;
                        }
                      } 
                      &:not(.collapsed)::after {
                        background-image: none !important;
                      }

                  }
                }
                .accordion-body {
                  height: 238px;
                  background: var(--white);
                  border-radius: 12px;
                  padding-top: 0;
                  .accordion-cont {
                    height: 220px;
                    overflow-y: auto;
                  }
                }              
          }
        }
        .status-wrap {          
          padding-top: 10px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px 0;
          border-top: 1px dashed #595a8a33;
          li {
            font-size: 0;
            position: relative;
            .status-tit {
              width: 80px;
              height: 28px;
              line-height: 28px;
              font-size: 10px;
              font-weight: 500;
              background: var(--secondary2-20);
              color: var(--secondary2-100);
              border-radius: 6px;
              text-align: center;
            }
            .status-value {
              margin-left: 4px;
              width: 48px;
              font-size: 10px;
              font-weight: 500;
              text-align: right;
              color: var(--gray-30);
              &::after {
                content: ' 개';
                // position: absolute;
                // top: 6px;
              }
            }
          }
        }
        .public-info {
          display: flex;
          flex-direction: column;
          .sta-date {
            margin-top: 42px;
            font-size: 10px;
            font-weight: 500;
            color: var(--gray-70);
          }
          .pub-num {
            font-size: 28px;
            font-weight: 600;
            &::after {
              content: ' 개';
              font-size: 14px;
              font-weight: 500;
            }
          }
          .pub-surface {
            text-align: right;
            color: var(--gray-40);
          }
          .pub-rate {
            text-align: right;
            color: #F14730;
            padding: 3px 18px 0 0;
          }
        }

    }
    .center-area {
        width: 480px;
        height: 750px;
        background: var(--white);
        border-radius: 10px;
        .board-box {
          .board-box-tit {
              margin-bottom: 23px;
            }
          .grade-ch-wrap {
              border-radius: 10px;
              height: 324px;
              .sub-head-wrap {
                  span {
                    &:nth-child(2) {
                    color: var(--gray-60);
                  }
                }
              }
              .safe-chart {
                width: 400px;
                height: 260px;
              }
              &.top {
              margin-bottom: 10px;

            }
          }
        }

    }
    .right-area {
        width: 850px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .top {
            height: 456px;
            .board-box-tit {
              margin-bottom: 23px;
            }
            .carousel-indicators {
              bottom: -58px;
            }
            .carousel-item {
              height: 320px;
            }
        }

        .status-wrap {
          margin-top: 15px;
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          gap: 10px 0;
          li {
            font-size: 0;
            .status-tit {
              width: 68px;
              height: 30px;
              line-height: 30px;
              font-size: 10px;
              font-weight: 500;
              background: var(--secondary2-20);
              color: var(--secondary2-100);
              border-radius: 6px;
              text-align: center;
            }
            .status-value {
              margin-left: 6px;
              min-width: 48px;
              text-align: right;
              font-size: 14px;
              font-weight: 500;
              color: var(--gray-30);
            }
          }
        }
        .public-right {
          .board-list {
            padding: 0 20px;
            span {
              font-size: 14px;
              white-space: nowrap;       /* 텍스트를 한 줄로 유지 */
                overflow: hidden;          /* 넘친 내용을 숨김 */
                text-overflow: ellipsis;
              &.cont-tit {
                margin-left: 8px;
                width: 350px;
                &::before {
                  content: '';
                  display: inline-block;
                  width: 4px;
                  height: 4px;
                  background: #ccc;
                  border-radius: 50%;
                  margin: 0 7px 0;
                  vertical-align: middle;
                  position: relative;
                  top: -2px;
                }
              }
              &:nth-child(1) {
                width: 95px;             
              }
              &:nth-child(3) {
                width: 200px;
                padding-right: 30px;
                font-size: 12px;
                color: var(--gray-60);
                background: url(../img/facility/ico_triple.svg) no-repeat right center;
              }
              &:nth-child(4) {
                margin-left: 8px;
                width: 180px;
                font-size: 12px;
                color: var(--gray-60);
              }
            }
  
          }
        }


    }
  

  //box container
  .board-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    .board-box {
      flex: 1;
      height: 302px !important;
          .sub-head {
          margin-bottom: 12px;
        }
    }
  }
  .board-box {
    padding: 24px 20px;
    background: var(--white);
    border-radius: 10px;
    .facility-wrap {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* 두 개의 열로 설정 */
      gap: 10px; /* 아이템 간의 간격 설정 */
    }
    .grade-ch-wrap {
      padding: 15px 20px 10px;
      background: #f9f9f9;
      height: 228px;
      .sub-head-wrap {
        display: flex;
        margin-bottom: 10px;
        .switch-area {
          display: flex;
          align-items: center;
          margin-left: auto;
          span {
            padding-right: 10px;
          }
        }
      }
      .safe-chart {
        width: 402px;
        height: 162px;
      }
    }
    ul {
      .board-list {
        display: flex;
        align-items: center;
        height: 44px;
        padding: 12px 14px;
        background: #f9f9f9;
        border-radius: 10px;
        &:not(:last-child) {
          margin-bottom: 2px;
        }
        span {
          &.active {
            color: var(--primary-100);
          }
        }
        .fac-name {
          margin: 0 5px 0 10px;
          // width: 140px;
          width: 412px;
          font-size: 14px;
          color: var(--primary-100); 
          white-space: nowrap;       /* 텍스트를 한 줄로 유지 */
          overflow: hidden;          /* 넘친 내용을 숨김 */
          text-overflow: ellipsis;
        }
        .comp-year {
          &::after {
            content: '';
            display: inline-block;
            width: 4px;
            height: 4px;
            background: #ccc;
            border-radius: 50%;
            margin: 0 7px 0;
            vertical-align: middle;
            position: relative;
            top: -2px;
          }
        }
      }
    }

  }

  //교량, 육교 종별 현황
  .grade-wrap {
  display: flex;
  // width: 440px;
  height: 110px;
  background: #F0F0F6;
  border-radius: 10px;
  li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 11px 0 11px; 
    &:first-child {
      flex: 0 0 65px;
      border-right: 1px solid #595A8A33;
    }
    &:not(:first-child) {
      border-right: 1px dashed #595A8A33;
    }
    &:last-child {
      border-right: none;
    }
    span {
      text-align: center;
    }
    .grade-tit {              
      padding-top: 46px;
      background: url(../img/facility/ico_bridge_dk.svg) no-repeat center 22px;
      font-size: 14px;
      font-weight: 500;
      &.overpass {
        background: url(../img/facility/ico_overpass_dk.svg) no-repeat center 22px;
      }
    }
  }         
}

// modal
.modal-dialog {
  &.schfilterModal {
    position: absolute;
    top: 415px;
    left: 422px;
    margin: 0;
    width: 275px;
    &.safetyfliterModal {
      top: 280px;
      left: 860px;
      width: 218px;
    }
    .modal-content {
      padding: 14px; 
      .modal-header {
        padding: 0;
      }
      .modal-body {
        padding: 0;
      }
      .dashed-line {
        margin: 10px 0 10px;
        width: 100%;
        border-top: 1px dashed var(--gray-80);
      }
    }

    .filter-span-wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 6px;
      &.grid-2row {
        grid-template-columns: repeat(2, 1fr) !important;
      }
    }
    .filter-span {
        width: 51px;
        height: 26px;
        line-height: 24px;
        text-align: center;
        border: 1px solid var(--gray-20);
        border-radius: 18px;
        &:active, &.active {
          color: var(--primary-100);
          border: 1px solid var(--primary-100);
          a {
            color: var(--primary-100);
          }
        }
        &.filter-tit {
          margin-right: 20px;
          width: 62px;
        }
    }
  }

}

//시설물 정보
.facility-info-wrap {
  width: 438px;
  background: var(--white);
  height: calc(100vh - 76px);
  border-top-right-radius: 30px;
  border-left: 1px solid var(--gray-80);
  z-index: 20;
  .tabs {
    display: flex;
    align-items: center;
    height: 48px;
    .nav-item {
      flex: 1;
    }
    .tab {
      width: 100%;
      height: 48px;
      line-height: 48px;
      text-align: center;
      font-size: 14px;
      color: var(--gray-60);
      background: var(--white);
      border-bottom: 1px solid var(--gray-80);
      &.active {
        color: var(--black);
        border-bottom: 2px solid var(--black);
      }
    }
  }
  .tab-content {
    height: calc(100vh - 260px);
    overflow-y: auto;
    .tab-content-wrap {
      padding: 24px 0 24px;
      &.safety-info {
        height: calc(100vh - 323px);
        .filter-area {
          margin: 0 24px 0;
          .filter-wrap {
            display: flex;
            padding: 0 0 23px;
            border-bottom: 1px solid var(--gray-80);
          }
        }
      }
      .filter-wrap {
        display: flex;
        padding: 0 24px 23px;
      }
      .table-cont-wrap {
        padding: 0 24px 0;
      }
      .sub-head {
        margin-bottom: 20px;
      }
      .dashed-line {
        width: 100%;
        margin: 20px 0 20px;
        border-top: 1px dashed var(--gray-80);
      }
      .solid-line {
        width: 100%;
        margin: 20px 0 20px;
        border-top: 1px solid var(--gray-80);
      }
    }
  }
  .table-cont {
    display: table;
    width: 100%;
    .table-row {
      display: table-row;
      line-height: 32px;
      span {
        &:nth-child(3) {
          padding-left: 10px;
        }
      }
      .th {
        width: 100px;
        font-size: 14px;
        color: var(--gray-40);
      }
      .td {
        font-size: 14px;
      }
    }
  }
  .img-wrap {
    display: flex;
    gap: 10px;
    div {
      flex: 1;
      .img-box {
        overflow: hidden;
        height: 108px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 1px solid var(--gray-80);
        img {
            width: 100%;
            height: auto;
        }
      }
      span {
        display: block;
        margin-top: 7px;
        text-align: center;
      }
    }

  }
}
.btn-side {
  width: 24px;
  height: 83px;
  border-radius: 0 10px 10px 0;
  background: #fff;
  margin-top: 450px;
  &.open {
    background: #fff url(../img/facility/ico-side-open.svg) no-repeat center center;
    &:active {
      background: var(--secondary2-20) url(../img/facility/ico-side-open.svg) no-repeat center center;
    }
  }
  &.close {
    background: #fff url(../img/facility/ico-side-close.svg) no-repeat center center;
    &:active {
      background: var(--secondary2-20) url(../img/facility/ico-side-close.svg) no-repeat center center;
    }
  }
}

.table-info {
  display: flex;
  padding: 14px 0 14px;
  background: #fafafa;
  li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:not(:last-child) {
      border-right: 1px solid var(--gray-80);
    }
    .sm-tit {
      font-size: 14px;
      margin-bottom: 28px;
      color: #979797;
    }
    .sm-cont {
      font-size: 14px;
    }
  }
}

//안전진단
.safety-test-wrap {
  height: calc(100vh - 390px);
  overflow-y: auto;
  .safety-test-info {   
    &:last-child {
      a {
        border-bottom: none;
      }
    }
    a {
      display: block;
      // margin: 0 24px 0;
      padding: 20px 0 20px;
      border-bottom: 1px solid var(--gray-80);   
      &:hover {
        background: var(--gray-94);
      }
      &:active, &.active {
        background: var(--secondary2-20);
      }
      .safety-tit-wrap {
        display: flex;
        align-items: center;
        margin: 0 24px 0;
        span {
          font-size: 10px;
        }
        .safety-tit {
          margin-right: 6px;
          padding: 4px 8px;
          background: var(--secondary2-10);
          border-radius: 40px;
          color: var(--secondary2-100);
          span {
            padding-left: 3px;
            color: var(--gray-60);
          }
        }
        .fromto {
          color: var(--gray-40);
        }
        .txt-type-lg {
          margin-left: auto;
        }
      }
      .safety-cont {
        margin: 18px 24px 15px;
        &.maintenance {
          margin-bottom: 0;
        }
        .p-3row {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: calc(16px * 3); /* line-height 값이 1.2em인 경우 */
          line-height: 16px; /* 한 줄의 높이 설정 */
        }
      }
      .status-wrap {
        margin: 0 24px 0;
      }
      .sub-head {
        width: 100%;
        margin-bottom: 8px !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .safety-status {
        margin-right: 7px;
        padding: 3px 8px;
        font-size: 10px;
        color: #fff;
        border-radius: 40px;
        &.complete {
          background: var(--chart-02);
        }
        &.standby {
          background: var(--chart-08);
        }      
        &.plan {
          background: var(--primary-100);
        }    
        &.start {
          background: var(--chart-01);
        } 
      }
      .date {
        margin-right: 18px;
        color: var(--gray-40);
        &::before {
          content: '작성일';
          margin-right: 4px;
        }
      }
      .writer {
        color: var(--gray-40);
        &::before {
          content: '작성자';
          margin-right: 4px;
        }
      }
    }
  }
}

//유지보수
.maintenance-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
  li {
    display: flex;
    gap: 8px;
    span {
      color: var(--gray-40);

    }
  }
}

//중대결함
.safety-cont {
  &.fault {
    margin: 18px 24px 0 !important;
    li {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.fault-date {
  font-size: 10px;
  color: var(--gray-40);
  margin-right: 13px;
}
.fault-cont {
    margin: 4px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.map-sv-search-wrap{display:flex;}

// 시뮬레이션
.situation-cont {
  padding: 0 24px 0;
}
.simul-condition {
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
  gap: 6px;
  &.detail {
    li {
      height: 118px;
      background: #FAFAFA;
      border: none;
      span {
        font-size: 8px;
      }
      .round {
        margin-bottom: 4px
      }
      &:active, &.active {
        border: none;
        span {
          font-size: 8px;
          color: var(--gray-40);
          &.round {
            background: var(--primary-10);
            // 점검도래
                   // 점검도래
        &.come {
          background: var(--secondary2-10) url(../img/facility/ico_come.svg) no-repeat center center;                   
        }
        // 안전등급
        &.sgrade {
          background: var(--secondary2-10) url(../img/facility/ico_sgrade.svg) no-repeat center center;                   
        }
        // 오래된 순 
        &.time {
          background: var(--secondary2-10) url(../img/facility/ico_time.svg) no-repeat center center;                   
        }
        // 화물차
        &.truck {
          background: var(--secondary2-10) url(../img/facility/ico_truck.svg) no-repeat center center;                   
        }
        // 특수차
        &.special {
          background: var(--secondary2-10) url(../img/facility/ico_special.svg) no-repeat center center;                   
        }
        // 공사장
        &.construction {
          background: var(--secondary2-10) url(../img/facility/ico_construction.svg) no-repeat center center;                   
        }
        // 토취장
        &.borrow {
          background: var(--secondary2-10) url(../img/facility/ico_borrow.svg) no-repeat center center;                   
        }
        // 레미콘공장
        &.plant {
          background: var(--secondary2-10) url(../img/facility/ico_plant.svg) no-repeat center center;                   
        }
        // 교통량
        &.traffic {
          background: var(--secondary2-10) url(../img/facility/ico_traffic.svg) no-repeat center center;                   
        }     
          }
        }
      }

    }
  }
  li {
    width: 100%;
    height: 100px;
    padding: 14px 9px 0;
    text-align: center;
    border: 1px solid var(--gray-90);
    border-radius: 10px;
    span {
      display: block;
      text-align: center;
      font-size: 10px;
      color: var(--gray-40);
      &.round {
        width: 50px;
        height: 50px;
        line-height: 50px;
        color: var(--secondary2-80);
        font-weight: 500;
        background: var(--secondary2-10);
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 9px;
        // 점검도래
        &.come {
          background: var(--secondary2-10) url(../img/facility/ico_come.svg) no-repeat center center;                   
        }
        // 안전등급
        &.sgrade {
          background: var(--secondary2-10) url(../img/facility/ico_sgrade.svg) no-repeat center center;                   
        }
        // 오래된 순 
        &.time {
          background: var(--secondary2-10) url(../img/facility/ico_time.svg) no-repeat center center;                   
        }
        // 화물차
        &.truck {
          background: var(--secondary2-10) url(../img/facility/ico_truck.svg) no-repeat center center;                   
        }
        // 특수차
        &.special {
          background: var(--secondary2-10) url(../img/facility/ico_special.svg) no-repeat center center;                   
        }
        // 공사장
        &.construction {
          background: var(--secondary2-10) url(../img/facility/ico_construction.svg) no-repeat center center;                   
        }
        // 토취장
        &.borrow {
          background: var(--secondary2-10) url(../img/facility/ico_borrow.svg) no-repeat center center;                   
        }
        // 레미콘공장
        &.plant {
          background: var(--secondary2-10) url(../img/facility/ico_plant.svg) no-repeat center center;                   
        }
        // 교통량
        &.traffic {
          background: var(--secondary2-10) url(../img/facility/ico_traffic.svg) no-repeat center center;                   
        }     
      }
    }
    &:active, &.active {
      border: 1px solid var(--primary-100);
      span {
        font-size: 10px;
        color: var(--gray-40);
        &.round {
          background: var(--primary-10);
          // 점검도래
          &.come {
            background: var(--primary-10) url(../img/facility/ico_come_or.svg) no-repeat center center;                   
          }
          // 안전등급
          &.sgrade {
            background: var(--primary-10) url(../img/facility/ico_sgrade_or.svg) no-repeat center center;                   
          }
          // 오래된 순 
          &.time {
            background: var(--primary-10) url(../img/facility/ico_time_or.svg) no-repeat center center;                   
          }
          // 화물차
          &.truck {
            background: var(--primary-10) url(../img/facility/ico_truck_or.svg) no-repeat center center;                   
          }
          // 특수차
          &.special {
            background: var(--primary-10) url(../img/facility/ico_special_or.svg) no-repeat center center;                   
          }
          // 공사장
          &.construction {
            background: var(--primary-10) url(../img/facility/ico_construction_or.svg) no-repeat center center;                   
          }
          // 토취장
          &.borrow {
            background: var(--primary-10) url(../img/facility/ico_borrow_or.svg) no-repeat center center;                   
          }
          // 레미콘공장
          &.plant {
            background: var(--primary-10) url(../img/facility/ico_plant_or.svg) no-repeat center center;                   
          }
          // 교통량
          &.traffic {
            background: var(--secondary2-10) url(../img/facility/ico_traffic_or.svg) no-repeat center center;                   
          }     
        }
      }
    }
  }
}
.dashed-line-24 {
  margin: 24px 0 24px;
  width: 100%;
  border-top: 1px dashed var(--gray-80);
}
.simul-name {
  margin-top: 10px;
  font-size: 12px !important;
  font-weight: 500;
  color: #000 !important;
}
