@charset "UTF-8";
@import url(../css/common.css);
.public-section {
    padding: 0 20px 0;
}
.public-section .sub-head {
    margin-bottom: 10px;
}
.public-section .pagination {
    border-top: none;
}

.public-list-wrap {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.public-list a {
    display: flex;
    width: 100%;
    gap: 6px;
    align-items: center;
    height: 40px;
    padding: 6px 0;
    background: #f9f9f9;
    border-radius: 10px;
    border: 1px solid #f9f9f9;
}
.public-list a:active, .public-list a.active {
    background: var(--primary-10);
    border: 1px solid var(--primary-100);
}
.public-list a span {
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 "..."으로 표시 */
}
.public-list a span:first-child {
    width: 60px;
    text-align: center;
}
.public-list a span:nth-child(2) {
    flex: 1;
    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
    overflow: hidden; /* 넘친 내용을 숨김 */
    text-overflow: ellipsis;
}
.public-list a span:last-child {
    width: 40px;
    text-align: center;
}

.public-th {
    display: flex;
    gap: 6px;
}
.public-th span {
    border-top: 1px solid var(--gray-80);
    padding: 8px 0 7px;
    text-align: center;
    color: var(--gray-40);
}
.public-th span:first-child {
    width: 60px;
}
.public-th span:nth-child(2) {
    flex: 1;
}
.public-th span:last-child {
    width: 40px;
}

.search-form-wrap {
    padding: 30px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.search-form-wrap .divide-02 {
    display: flex;
    gap: 10px;
}
.search-form-wrap .search-btn-wrap {
    margin: 14px 0 30px;
    text-align: center;
}

.facility-info-wrap.public .tab-content {
    height: calc(100vh - 225px);
}
.facility-info-wrap.public .public-info {
    height: calc(100vh - 225px);
    padding: 0;
    position: relative;
    overflow-y: hidden;
}
.facility-info-wrap.public .public-info .pagination-wrap {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.facility-info-wrap.public .public-info .pagination-wrap .pagination {
    background: #fff;
}

.public-form {
    display: flex;
    gap: 8px;
    padding: 24px;
}
.public-form .custom-select {
    width: 122px;
}
.public-form .input-container {
    flex: 1;
}
.public-form .public-search {
    width: 51px;
    height: 36px;
    line-height: 34px;
    text-align: center;
    background: #fff;
    border: 1px solid var(--gray-20);
    border-radius: 18px;
}

.public-table-wrap {
    padding: 0 24px 18px;
}
.public-table-wrap.public-modal {
    padding: 0;
}
.public-table-wrap .pagination {
    border-top: 0;
}
.public-table-wrap .public-th span {
    color: var(--secondary2-100);
    border-top: 1px solid var(--secondary2-100);
}
.public-table-wrap .public-list {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px;
    min-height: 42px;
    background: var(--secondary2-20);
    border-radius: 10px;
}
.public-table-wrap .public-list a:active, .public-table-wrap .public-list a.active {
    background: var(--primary-10);
    border: 1px solid var(--primary-100);
}
.public-table-wrap .public-list span {
    white-space: nowrap; /* 텍스트가 줄바꿈되지 않도록 설정 */
    overflow: hidden; /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis; /* 넘치는 텍스트를 "..."으로 표시 */
}

.tab-02 span {
    text-align: center;
}
.tab-02 span:nth-child(1) {
    width: 96px;
}
.tab-02 span:nth-child(2) {
    flex: 1;
}
.tab-02 span:nth-child(3) {
    width: 66px;
}
.tab-02 span:nth-child(4) {
    width: 80px;
}

.tab-03 span {
    text-align: center;
}
.tab-03 span:nth-child(1) {
    width: 96px;
}
.tab-03 span:nth-child(2) {
    width: 90px;
}
.tab-03 span:nth-child(3) {
    width: 106px;
}
.tab-03 span:nth-child(4) {
    width: 80px;
}

.tab-04 span {
    text-align: center;
}
.tab-04 span:nth-child(1) {
    width: 96px;
}
.tab-04 span:nth-child(2) {
    flex: 1;
}
.tab-04 span:nth-child(3) {
    width: 80px;
}

.tab-05 span {
    text-align: center;
}
.tab-05 span:nth-child(1) {
    width: 96px;
}
.tab-05 span:nth-child(2) {
    flex: 1;
}
.tab-05 span:nth-child(3) {
    width: 80px;
}

.modal-tab-04 span {
    text-align: center;
}
.modal-tab-04 span:nth-child(1) {
    width: 420px;
}
.modal-tab-04 span:nth-child(2) {
    width: 140px;
}
.modal-tab-04 span:nth-child(3) {
    width: 140px;
}
.modal-tab-04 span:nth-child(4) {
    width: 114px;
}

.modal-tab-05 span {
    text-align: center;
}
.modal-tab-05 span:nth-child(1) {
    width: 80px;
}
.modal-tab-05 span:nth-child(2) {
    width: 160px;
}
.modal-tab-05 span:nth-child(3) {
    width: 100px;
}
.modal-tab-05 span:nth-child(4) {
    width: 140px;
}
.modal-tab-05 span:nth-child(5) {
    width: 140px;
}
.modal-tab-05 span:nth-child(6) {
    width: 96px;
}
.modal-tab-05 span:nth-child(7) {
    width: 80px;
}

.public-tr {
    margin-bottom: 5px;
}
.public-tr .pop-th {
    min-width: 103px;
}

.address-area {
    margin: 20px 0 17px;
}

.modal-content.public {
    height: 850px;
    position: relative;
}
.modal-content.public .modal-body {
    margin: 0 4px 0 !important;
    padding: 0 18px 20px !important;
    height: 645px;
    overflow-y: auto;
}
.modal-content.public .modal-footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.modal-content.public-finder {
    height: 850px;
    position: relative;
}
.modal-content.public-finder .modal-body {
    margin: 0 4px 3px !important;
    padding: 0 18px 20px !important;
    height: 683px;
    overflow-y: auto;
}
.modal-content.public-finder .modal-footer {
    display: flex;
    gap: 14px;
}

.md-section .md-section-tit {
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    color: var(--secondary2-100);
    background: var(--secondary2-10);
    border-radius: 10px 10px 0 0;
}
.md-section .sec-img-wrap {
    display: flex;
    gap: 28px;
    padding: 14px;
}
.md-section .sec-img-wrap .img-box {
    flex: 1;
    height: 154px;
    background: var(--gray-90) url(../img/public/img_image.svg) no-repeat center center;
    border: none !important;
    border-radius: 10px;
    position: relative;
}
.md-section .sec-img-wrap .img-box::after {
    content: "";
    position: absolute;
    right: -14px; /* Half of the gap to center the line */
    top: 0;
    bottom: 0;
    width: 1px;
    border-left: 1px dashed rgba(89, 90, 138, 0.2);
}
.md-section .sec-img-wrap .img-box:last-child::after {
    content: none;
}
.md-section .sec-img-wrap .img-box img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.square-wrap {
    display: flex;
    justify-content: center;
    margin: 24px 0 14px;
}
.square-wrap .square {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 138px;
    position: relative;
    border-right: 1px dashed rgba(89, 90, 138, 0.2);
}
.square-wrap .square:last-child {
    border-right: 0;
}
.square-wrap .square .square-box {
    margin-bottom: 14px;
    width: 40px;
    height: 40px;
    border: 1px solid #BD0C0C;
}
.square-wrap .square .square-box.second {
    background: #FCAD55;
    border: 1px solid #000;
}
.square-wrap .square .square-box.third {
    background: #3BA8EC;
    border: 1px solid #000;
}
.square-wrap .square .square-box.fourth {
    background: #9AD0F1;
    border: 1px solid #6AA8CF;
}
.square-wrap .square .square-box.fifth {
    background: #699D71;
    border: 1px solid #000;
}
.square-wrap .square .square-box.sixth {
    background: #9F9F9F;
    border: 1px solid #000;
}

.m-sec-cont {
    display: flex;
    padding: 14px 0 13px;
    height: 84px;
    background: var(--secondary2-20);
    border-radius: 4px;
}
.m-sec-cont.sec-input {
    background: #f7f7f7;
}
.m-sec-cont.sec-input li {
    flex: 1;
    padding: 0 10px 0;
}
.m-sec-cont.sec-input li .m-head {
    color: var(--gray-40);
    margin-bottom: 4px;
}
.m-sec-cont.sec-input li .common-date2 {
    min-height: 36px;
}
.m-sec-cont li {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.m-sec-cont li:not(:last-child) {
    border-right: 1px solid rgba(89, 90, 138, 0.2);
}
.m-sec-cont li .m-head {
    margin-bottom: 20px;
    font-size: 14px;
    color: var(--secondary2-100);
}

.sec-img-area {
    display: flex;
    gap: 14px;
}
.sec-img-area .sec-img-wrap {
    width: 409px;
}
.sec-img-area .sec-img-wrap .md-img-wrap {
    padding: 14px;
    background: #fafafa;
    border-radius: 10px;
    height: 260px;
}
.sec-img-area .sec-img-wrap .md-img-wrap .img-box {
    width: 100%;
    height: 100%;
    background: var(--gray-90) url(../img/public/img_image.svg) no-repeat center center;
    border: none !important;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.sec-img-area .sec-img-wrap .md-img-wrap .img-box img {
    width: 100%;
}
.sec-img-area .sec-img-wrap .md-img-wrap .img-box .swiper {
    width: 100%;
    height: 232px;
}
.sec-img-area .sec-img-wrap .md-img-wrap .img-box .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 232px;
}
.sec-img-area .sec-img-wrap .md-img-wrap .img-box .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.sec-img-area .sec-img-wrap .md-img-wrap .img-box .swiper-pagination-fraction {
    padding-top: 3px;
    width: 80px;
    height: 24px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 100px;
    left: 280px;
}
.sec-img-area .sec-img-wrap .md-img-wrap .img-box .swiper-pagination-fraction span {
    color: #fff;
}
.sec-img-area .sec-img-wrap .md-img-wrap .img-box .swiper-button-next,
.sec-img-area .sec-img-wrap .md-img-wrap .img-box .swiper-button-prev {
    color: #fff;
    right: 20px;
    top: 211px;
    z-index: 100;
}
.sec-img-area .sec-img-wrap .md-img-wrap .img-box .swiper-button-next::after,
.sec-img-area .sec-img-wrap .md-img-wrap .img-box .swiper-button-prev::after {
    font-size: 11px;
}
.sec-img-area .sec-img-wrap .md-img-wrap .img-box .swiper-button-prev {
    left: 278px;
}

.mid-cont {
    background: var(--gray-94);
    padding: 14px;
    border-radius: 4px;
}

.map-sv-search-wrap {
    display: flex;
}